#blogtitle{
    margin-top: 0px;
    font-family: 'Times New Roman', serif;
    font-size: 60px;
  }

#container2 {
    background-color: #f2f3f8;
  }

  @media screen and (max-width: 767px) {
    #blogtitle{
      font-size: 40px;
    }
  }