@media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
  }
  
#paddingseeting {
    padding-top: 8rem !important;
    padding-bottom: 7rem !important;
}

#container {
  background-color: #f2f3f8;
}

#FONTSIZE{
  margin-bottom: 1.5rem !important;
  FONT-SIZE: 16PX;
  font-family: 'Times New Roman', serif;
  color: black;
}

#fonttype{
  font-family: 'Times New Roman', serif;
  font-size: 50px;
}

@media (max-width: 768px) {
  #paddingseeting {
      padding-top: 5rem !important;
      padding-bottom: 3rem !important;
  }
}

@media screen and (max-width: 767px) {
  .mobile-image {
    width: 100%; /* Adjust the width as needed for your layout */
    height: auto; /* This will maintain the image aspect ratio */
  }
}

@media screen and (max-width: 767px) {
  #fonttype {
    font-size: 40px; 
  }
}