 #contacuustittle{   
   font-size: 50px;
   line-height: 1.3;
   padding-bottom: 0.29em;
   position: relative;
   text-align: center;
   margin-top: 30px;
   font-family: 'Times New Roman', serif;
 }

 #contacttitle1{
  font-family: 'Times New Roman', serif;
  font-size: 18px;
 }

 #contactsubmit{
  margin-top: 4%;
  width: 100%;
  background-Color: #13c33e;
  border: none;
  height: 41px;
  margin-bottom: 40px;
  font-family: 'Times New Roman', serif;
 }

 #contactsubmit:hover{
  background-Color: #008cd1;
 }

 #backgroundcolour{
   background-color: #f2f3f8;
   border-radius: 12px;
   height: 70%;
   padding-left: 40px;
   padding-right: 40px;
 }

 p {
   text-align: center;
}

 #marginmanage{
  margin-top: 80px;
 }

/* Styles for mobile phones */
@media (max-width: 767px) {
   #backgroundcolour {
     margin-left: 5%;
     width: 90%;
   }

   #marginmanage{
    margin-top: 30px;
   }
  
 }

 @media screen and (max-width: 767px) {
  #contacuustittle {
    font-size: 40px;
  }
}
 
