#calbutton{
    margin-bottom: 40px;
    width: 100%;
    background-Color: #13c33e;
    border:none;
    height: 41px;
}

#calbutton:hover{
    background-Color: #13c33e;
}

#bottom1{
    margin-bottom: 40px;
}

#bottom2{
    margin-bottom: 20px;
}

.mt-5 {
    margin-top: 3rem !important;
    background: #f2f3f8;
    padding-top: 40px;
    margin-bottom: 3rem !important;
    border-radius: 12px;
    padding-left: 40px;
    padding-right: 40px;
}

.form-select {
    height: 41px;
}

.form-control {
    height: 41px;
}

/* Styles for mobile phones */
@media (max-width: 767px) {
    #mobsize{
      margin-left: 5%;
      width: 90%;
    }
  }
