.text-uppercase {
    margin-left: 49px;
}

#footercontact{
    margin-left: 123px;
    font-family: 'Times New Roman', serif;
}

/* Styles for mobile phones */
@media (max-width: 767px) {
    
    .text-uppercase {
        margin-left: 0px;
    }

    #footercontact{
        margin-left: 0px;
    }
    
}

.text-reset{
    text-decoration:none;
    font-family: 'Times New Roman', serif;
}

#fontstyle{
    font-family: 'Times New Roman', serif;
}

.me-3{
    font-family: 'Times New Roman', serif;
}

#icon{
    background: white;
    border: none;
}
