.dropdown-item {
    margin-left: 20px;
    margin-top: 20px;
}

#hederhover:hover{
    color: #a2aabd;
}

#postbutton{ 
    background-Color: #13c33e;
}

#postbutton:hover{
    background-Color: #13c33e
}

.imgiliment{
    width: 200px;
    margin-Right: 10px; 
    margin-Left: 15px;
    margin-top: 8px;
}

#hederwidth{
    height: 70px;
}

.fa-lock-f:before, .fa-lock:before {
    content: "\f09a";
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    color: #13c33e;
}

@media (max-width: 767px) {
.imgiliment{
    margin-top: 11%;
    margin-left: 24%;
    margin-bottom: 5%;
}

.mobhide {
    display: none;
}

#navbar2{
    margin-left: 14%;
}
}