#containerhome4{
    background-color: #0096db;
}

#contenthOME4{
    color: white;
    font-weight: bolder;
    font-family: 'Times New Roman', serif;
    padding-top: 40px;
    padding-bottom: 40px;
}