#titleicon{
    text-align: center;
}

.feature-box {
    transition: background-color 0.3s, color 0.3s; 
}
  
.feature-box:hover {
    background-color: #13c33e;
    color: white;
}

p {
    text-align: center;
}

#titleicon{
    font-family: 'Times New Roman', serif;
}

.rounded {
    height: 200px;
}




  
  