#mapeliment{
    margin-top: 80px;
    margin-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
}

#parkingtitle{
   font-size: 60px;
   line-height: 1.3;
   padding-bottom: 0.29em;
   position: relative;
   text-align: center;
   margin-top: 30px;
   margin-bottom: 40px;
   font-family: 'Times New Roman', serif;

}

/* Styles for mobile phones */
@media (max-width: 767px) {
    #mapeliment{
        margin-top: 80px;
        margin-bottom: 80px;
        padding-left: 20px;
        padding-right: 20px;
    }
   
  }
  
 