/* styles.css (or any other CSS file you're using) */

.sidebar {
    margin-left: -44px;
    height: 738px;
    width: 280px;
    background-color: #f2f3f8;
    color: black;
    padding: 20px;
  }
  
  .sidebar-nav {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-nav li {
    margin-bottom: 10px;
  }
  
  .sidebar-nav a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px;
    transition: background-color 0.3s;
    text-align: center;
  }
  
  .sidebar-nav a:hover {
    background-color: #555;
    color: white;
    border-radius: 3px;
  }

  .sidebar-bottom-text {
    margin-top: 137%;
    padding: 10px;
    text-align: center;
    background-color: #f8f9fa;
  }
  

  