
.sidebar {
    margin-left: -111px;
    height: 738px;
    width: 280px;
    background-color: #f2f3f8;
    color: black;
    padding: 20px;
  }
  
  .sidebar-nav {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-nav li {
    margin-bottom: 10px;
  }
  
  .sidebar-nav a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px;
    transition: background-color 0.3s;
    text-align: center;
  }
  
  .sidebar-nav a:hover {
    background-color: #555;
    color: white;
    border-radius: 3px;
  }

  .sidebar-bottom-text {
    margin-top: 137%;
    padding: 10px;
    text-align: center;
    background-color: #f8f9fa;
  }

  #featured-30{
    margin-left: -60px;
    width: 300px;
  }
  
  #featured-31{
    margin-left: 50px;
    width: 300px;
  }

  #featured-32{
    margin-left: 50px;
    width: 300px;
  }
  
  .rounded1 {
    width: 25%;
    border-radius: var(--bs-border-radius) !important;
}

.border1 {
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  background: #fef0e2;
}

.border2 {
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  background: #effcef;
}

.border3 {
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  background: rgba(230,245,249,255);
}

#costmargin{
  margin-top: -80px;
  margin-right: 55px;
}

.fs-2 {
  text-align: center;
}

  